body {
	height: 100vh;
	width: 100vh;
}

#area {
	background-color: darkslategray;
	height: 800px;
	width: 1024px;
	padding: 10px;
}

/* === NODES === */
.node {
	position: absolute;
	display: flex; /* or inline-flex */
	flex-direction: column;
	height: fit-content;
	width: 200px;
	background-color: mintcream;
	border-style: solid;
	border-radius: 5px;
	border-width: 4px;
	border-color: darkslategray;
	padding: 0 4px 4px 4px;
}

.node-big-canvas {
	height: fit-content;
	width: fit-content;
}

.node-header {
	padding: 5px;
	margin: -4px;
	padding-top: 10px;
	padding-bottom: 25px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: aqua;
	/*	height: 30%;*/
	text-align: center;
	font-size: 20px;
}

.dots {
	display: flex;
	flex-direction: row;
	padding: 5px;
	justify-content: space-between;
	margin-top: 5px;
}
.dot {
	height: 16px;
	width: 16px;
	position: relative;
	background-color: #bbb;
	border-radius: 50%;
}

.dot-left {
	height: 16px;
}

.dot-right {
	align-self: flex-end;
}

.dot-connected {
	background-color: green;
}

.dot-connected::after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '\d7';
	font-size: 19px;
	color: #fff;
	line-height: 15px;
	text-align: center;
}

.node-body {
	flex-grow: 4;
	/*height: 70%;*/
	padding: 10px;
}
input {
	width: 40%;
}

.line-delete-icon {
	position: absolute;
	height: 20px;
	width: 20px;
	z-index: 999;
}
/* === MENU === */

#menu {
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
	color: #1f194c;
	width: 10em;
	padding: 0.3em 0.6em;
	font-size: 1.3rem;
	position: fixed;
	visibility: hidden;
	z-index: 999;
}

.menu-item {
	padding: 0.3em 1.2em;
}

.menu-item:hover {
	background-color: rgba(44, 141, 247, 0.2);
	cursor: pointer;
}
